<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
</head>
<body>
    <h1>User Signup</h1>
    <form action="/signup" method="post" >
        <label for="usename">Username:</label>
        <input type="text" name='username' placeholder="Enter Username" required><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter Email" required><br><br>
        <label for="email">Password:</label>
        <input type="password" name="password" placeholder="Enter Password" required><br><br>
        <input type="submit" value="Signup" >
    </form>
    <h3>{{ error }}</h3>
</body>
</html>